<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Under maintenance</title>

    <link href="https://theme.er.kcl.ac.uk/css/app.css?1693840616" rel="stylesheet" />
    <link href="https://theme.er.kcl.ac.uk/css/custom-wholeform.css?1693840616" rel="stylesheet" />
</head>

<body class="whole-page text-center">
  <div class="full-element">
    <nav id="primary_nav" class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">
        <img src="https://theme.er.kcl.ac.uk/images/kcl-logo.svg?1693840616" class="d-inline-block align-top" alt="" />
        Under maintenance
      </a>
    </nav>
    
    <p>This site is currently under maintenance.<br />{{time_back_msg}}.</p>
  </div>
</body>

</html>